:root {
  --primary-background: #fff;
  --primary-border-card: rgba(0, 0, 0, 0.125);
  --primary-date: grey;
  --primary-title: #6940d3;
  --primary-label: black;
  --primary-organisation: black;
  --primary-input-border: #e1e4e8;
  --primary-input-background: #fff;
  --primary-contact-background: #dee3de;
  --primary-search-dropdown: #f0eee4;
  --primmary-shadow: rgb(168, 164, 164);
}
/* body {
  overflow-x: hidden;
} */
.welcome {
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 2.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.indexHead {
  font-weight: 600;
}
.indexYellow {
  color: rgb(255, 222, 64);
}
.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-pg {
  min-height: 200vh;
}
#resource {
  background: var(--primary-contact-background);
}
.nav-bg {
  background: var(--primary-contact-background);
}
li {
  list-style: none;
}
/* sidebar */
.btn-style {
  border: none;
  background: none;
  margin: 0.5rem auto;
  width: 100%;
  box-shadow: 1px 1px 5px var(--primary-title);
  border-radius: 20px;
  font-family: sans-serif;
  color: var(--primary-label);
  padding: 8px;
}

#sidebar {
  background: var(--primary-background);
  width: 13rem;
  border-radius: 15px;
  box-shadow: 1px 1px 30px var(--primmary-shadow);
  padding: 2rem;
  height: fit-content;
  position: sticky;
  top: 5rem;
}
#sidebar ul {
  padding: 0;
}

#categoryText {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
#resourceContainer {
  display: flex;
}

.category .select-option {
  display: none;
}
.select-category-btn {
  display: block;
  width: 100%;
  color: rgb(63, 62, 62);
  margin: 0px;
  text-align: left;
  border: none;
  background: none;
  font-family: cursive;
  font-weight: 500;
  font-size: 1rem;
}
.select-category-btn:hover {
  background-color: var(--primary-contact-background);
}
/* card-section */
.card-section {
  margin: 1rem;
}

.card {
  background: var(--primary-background);
  padding: 1rem;
  border-radius: 20px;
}

#box {
  padding: 2rem;
  font-size: 1.5rem;
  margin: 2rem;
  font-family: cursive;
  max-width: 50rem;
  height: fit-content;
  /* border: 2px solid black; */
}
#message {
  width: 50rem;
  height: 20rem;
}
/* carousal */
.c-align {
  bottom: 20rem;
}
#news-resource {
  display: none;
}

.sm-img {
  width: 30rem;
}
.wid {
  width: 100vw;
}
.fix {
  position: relative;
  z-index: 1;
  bottom: 20rem;
}

.bg-size {
  height: 100vh;
  /* width: 75vw; */
  position: absolute;
  right: 0;
  z-index: -1;
}
.bg-size2 {
  height: 100vh;
  /* width: 75vw; */
  position: absolute;
  left: 0;
  z-index: -1;
  top: 100vh;
  /* width: 60vw; */
}
.intro {
  position: absolute;
  left: 15%;
  top: 30%;
}
.head-title {
  font-size: 4.8rem;
  font-weight: 700;

  font-stretch: expanded;
}
.t-posn {
  position: relative;
  top: 1rem;
}
.study {
  position: absolute;
  right: 0;
  height: 90%;
  top: 14%;
  /* z-index: 2; */
}
.about-section {
  width: 50%;
  margin: auto;
  position: relative;
  /* top: 100vh; */
}
.top-posn {
  top: 100vh;
}
#foot {
  position: fixed;
  /* position: sticky; */
  bottom: 0;
  /* top: 110vh; */
  /* z-index: -1; */
  color: white;
  width: 100%;
}
.features {
  margin: auto;
  position: relative;
  /* top: 100vh; */
  width: 100%;
}
.makeBold {
  font-weight: 700;
}
.bg-round {
  background: black;
  text-decoration: none;
}
a.nav-link {
  font-weight: 600;
  color: black;
}
a.bg-round {
  color: white;
}
.f-count {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1% 0 0 0;
}
.fc-1 {
  background: black;
  color: white;
}
.fc-2 {
  border: 2px solid black;
  color: black;
}
.btn-click {
  background: black;
  color: white;
}
.dropdown-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
  .dropdown-mobile {
    display: block;
  }
  /* .navbar ul {
    display: none;
  } */
  .nav-item {
    display: none;
  }
  .bg-size2 {
    display: none;
  }
  .intro {
    left: 1%;
    top: 50%;
    text-align: center;
    width: 100%;
  }
  .features {
    padding-top: 5px;
    margin-top: 0;
  }
  .top-posn {
    top: 90vh;
    padding-top: 1rem !important;
    margin-top: 0 !important;
  }
  .mob-margin {
    margin-top: 0.7rem !important;
    position: relative;
  }
  .mob-margin div {
    margin-bottom: 0.5rem !important;
  }
  .study {
    height: 50%;
    top: 7%;
  }
  .head-title {
    /* text-align: center; */
    font-size: 3.5rem;
  }
  .navbar h3 {
    font-size: 2rem !important;
  }
  .navbar {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  #resourceContainer {
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
  }
  #sidebar {
    position: relative;
    width: 90%;
    top: 1.5rem;
    margin-bottom: 2rem !important;
    /* bottom: 2rem; */
  }

  /* .card-section {
    margin-left: 0 !important;
  } */
}
